@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header, section {
    padding: 50px 100px;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    text-align: center;
}

header {
    padding: 50px 0;
}

.home {
    background-image: url('home-background.jpg');
}

.about {
    background-image: url('about-background.jpg');
}

.projects {
    background-image: url('projects-background.jpg');
}

.contact {
    background-image: url('contact-background.jpg');
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    font-family: 'Press Start 2P', cursive;
}

.project {
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
